* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
body, html {
  width: 100%;
  height: 100%;
  font: 12px, Roboto, sans-serif;
}
h1 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}
h2 {
  font-size: 14px;
  text-align: center;
}
ul
{
  list-style-type: none;
}
/*
 *
 * Header div
 *
 */
.header__container {
	display: flex;
	justify-content: center;
	color: #fff;
	background-color: #5995da;
	padding: 15px 0px;
}
.header {
 	width: 100%;
 	display: flex;
 	justify-content: space-between;
}
.header__photo {
  flex-grow: 1;
}
.header__logo {
  height: 80px;
  margin: 0px 0px 0px 20px;
  display: flex;
  justify-content: flex-start;
}
.header__center {
  flex-grow: 2 ;
  padding: 5px 0px;
}
.header__links {
  flex-grow: 1;
	line-height: 1.2;
	margin: 0px 20px 0px 0px;
	display: inline-block;
	vertical-align: middle;
}
.header__title {
  text-align: right;
	font-size: 28px;
  padding: 5px 0px;
}
.header__description {
	text-align: right;
  font-size: 12px;
}
/*
 *
 * Main div
 *
 */
.main__image {
  max-width: 100%;
  height: auto;
	padding: 5px;
	display: block;
  margin: 0px auto 30px;
}
/*
 *
 * section div
 *
 */
.article__container {
	display: flex;
  flex-direction: column;
}
.article__featured {
	margin: 0% 10%;
	font-size: 32px;
	text-shadow: 2px 2px 3px;
}
.article__work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin: 15px 0px 0px;
}
.article__col {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 10px;
	width: 300px 
}
.img__thumbnail {
  max-width: 100%;
	height: auto;
 	padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
 	display: block;
  margin: 0px auto 10px;
}
.article__desc {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	text-align: left;
	font-size: 18px;
	padding: 5px;
	margin: 0px 0px 30px;
}
/*
 *
 * footer div
 *
 */
.footer__container {
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
	justify-content: center;
	color: #5995da;
	padding: 20px;
	margin: 0px 0px 5px;
	background-color: #fff;
 }
 .footer__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  padding: 5px;
}
 .footer__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
.icon__thumbnail {
  height: 30px;
  width: auto;    
  padding: 0.25rem;
  display: block;
  margin: 0px auto;
}
 .footer2__container {
  color: #fff;
  padding: 5px;
  margin: 0px 0px 30px;
  background-color: #5995da;
 }
@media screen and (max-width: 400px) {
h1 {
  font-size: 14px;
}
h2 {
  overflow: hidden; 
  line-height: 0; 
  font-size: 0; 
  text-indent: -1000px;
}
.header__title {
  font-size: 12px;
  margin: 2px;
  padding: 5px:;
}
.header__description {
  overflow: hidden; 
  line-height: 0; 
  font-size: 0; 
  text-indent: -1000px;
}
.article__featured {
  font-size: 24px;
}
.article__desc {
  font-size: 14px;
}
.footer__text {
  font-size: 10px;
}
}
@media screen and (min-width: 401px) and (max-width: 530px) {
h1 {
  font-size: 20px;
}
h2 {
  overflow: hidden; 
  line-height: 0; 
  font-size: 0; 
  text-indent: -1000px;
}
.header__title {
  font-size: 16px;
  margin: 2px:; 
  padding: 10px 0px;
}
.header__description {
  overflow: hidden; 
  line-height: 0; 
  font-size: 0; 
  text-indent: -1000px;
}
}